.contact-form{
    padding: 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem !important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 1024px){
    .contact-form{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .head{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: smaller;
        justify-content: center;
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
}
    .c-right{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
}
}