.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    z-index: 3;
}

.circle::after{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background: white;
    z-index: -1;
}

.circle::before{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    content: '';
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
    animation: rotate 1.5s linear infinite;
    -webkit-animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
}
100%{
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
}
}

.achievement > span:nth-of-type(2){
    color: var(--orange);
}

@media screen and (max-width: 1024px){
    .experience{
        display: flex;
        flex-direction: column;
        margin: 28rem 0 17rem 0;
        position: static;
        gap: 3rem;
    }
}