.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--orange);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--orange);
}

.t-button{
    background: var(--orange);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
}